.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
   background-color: white;
   border-style:solid;
   background-image:url(BirthdayImage.jpg);
   background-size:cover;
}
#btnn {

    width: 1000;
}

